@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background: #0d1117;
    font-family: 'Maven Pro', sans-serif;
  }

  body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #0d1117;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes scaleDownIn {
    from {
      opacity: 0;
      transform: scale(4) translateY(0px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }

  .heroElem{
    animation: scaleDownIn 1.5s cubic-bezier(0.87, 0, 0.13, 1);
  }

  .reacciones{
    animation: float 2s infinite ease-in-out;
    position: absolute;
    z-index: 10;
    min-width: 70px;
  }
}